* {
   padding:0;
   margin:0;
   border:0
}
ul {
	font-size:0;
}
li {
	list-style-type:none;
}
p {
	color:#616161;
	font-size:15px;
  font-family: arial, sans-serif;
}
a {
	font-family: arial, sans-serif;
}
.heading_bg{
	background: #3f4049;
}
.our_focus_bg{
	background: #f7f7f7;
}
.our_team_bg{
	background: #f7f7f7;
}
.wrapper {
	width:1140px;
	margin:0 auto
}
.navigation {
	padding-top:25px;
	padding-bottom:25px;
	overflow: hidden
}
.logo {
	width:97px;
	height:27px;
	background: url(../img/logo.png);
	float:left
}
.logo a {
	display:block;
	height:100%
}
.navigation_list {
	float:right;
	margin-top:6px
}
.navigation_list li {
	display:inline;
	font-family: Arial, sans-serif;
	font-size:14px;
	color:#272727;
	margin-left:20px
}
li a {
	text-decoration: none;
	color:#272727
}
.heading {
	clear:both;
	padding: 175px 0 175px 0
}
h2 {
	font-size:60px;
	color:#ffffff;
	font-family: Arial, sans-serif;
	font-weight:normal;
	text-align:center;
	margin: 0 155px
}
.button {
	width:180px;
	padding: 17px 0px 17px 0px;
	background: #fc5f45;
	border-radius: 25px;
	text-align:center;
	margin:0 auto;
	margin-top:70px;
	margin-bottom:80px;
	
}
.button a {
	font-size: 16px;
	color: #ffffff;
	font-weight: bold;
	text-decoration:none;
}
.features li {
	padding-top:80px;
	background:url(../img/receive_img.png) center top no-repeat;
	display: inline-block;
	width: 250px;
	text-align: center;
	color: #936cc7;
	font-family: arial, sans-serif;
	font-size: 18px;
}
.features_wrapper {
	width:750px;
	margin: 0 auto;
}
.features li:first-of-type {
	background-image: url(../img/fixed_price_img.png);
	color: #39ae88
}
.features li:last-of-type {
	background-image: url(../img/satisfaction_img.png);
	color: #feb960
}
.about_us {
	padding-top: 150px;
	padding-bottom: 150px;
}
.left_column {
	width:555px;
	height:700px;
	background: url(../img/555x700.png)
}
.right_column {
	position:relative;
	width:650px;
	height:550px;
	float: right;
	background:#ffffff url(../img/color-strip.png) bottom no-repeat;
	margin-top:-625px;
}
.right_column_content {
	padding:95px 82px;
	background: url(../img/01.png) 10px 10px no-repeat;
}
h3 {
	font-family: serif;
	font-size: 50px;
	color:#313131;
}
.right_column_content p {
	margin-top:40px;
	line-height:27px;
}
.our_focus {
	padding: 150px 0 150px 0;
	clear:both;
	background:url(../img/02.png) center 10px no-repeat;
}
.title {
	width:600px;
	margin: 0 auto;
	text-align:center;
}
.title p {
	font-size:18px;
	margin-top:20px;
}
.our_focus ul  {
	margin-top:80px;
}
.our_focus ul li {
	background:#ffffff url(../img/ux_design.png) center 65px no-repeat;
	display:inline-block;
	width:202px;
	padding: 140px 30px 65px 30px;
	margin-right:30px;
	text-align:center;
	border-bottom: solid 3px #38c695;
}
.our_focus ul li:last-of-type{
	margin-right:0;
	border-bottom-color:#feb960;
	background-image: url(../img/app_development.png)
}
.our_focus ul li:first-of-type{
	border-bottom-color:#fc5f45;
	background-image: url(../img/web_design.png)
}
.our_focus ul li:nth-of-type(3){
	border-bottom-color:#b27cf5;
	background-image: url(../img/photography.png)
}
h4 {
	font-family: arial, sans-serif;
	font-size:20px;
	color:#313131;
}
.list_content p {
	margin-top:30px;
	line-height:27px;
}
.portfolio {
	padding:150px 0;
	background: url(../img/03.png) center 10px no-repeat;
}
.portfolio_list {
	margin-top:80px;
}
.portfolio_list li {
	display:inline-block;
	margin:10px;
}
.hover_on {
	display:none;
	position:absolute;
	border: 5px solid #ffffff;
    width:350px;
	height:278px;
	background: url(../img/hover_bg.png) bottom no-repeat;
	text-align:center;
}
.portfolio_list li a {
	display:block;
}
a:hover  .hover_on {
	display:block;
}
.hover_on p {
	font-size:18px;
	color:#313131;
	margin-top:235px;
}
.our_team {
	padding: 150px 0;
	background:url(../img/04.png) center 10px no-repeat;
}
.photo_wrapper {
	width:253px;
	height:260px;
	background:url(../img/Michael_Schmitt.png);
	border: 5px solid #ffffff;
}
ul.team{
	margin-top:75px;
}
ul.team li {
	display:inline-block;
	text-align:center;
	list-style: none inside;
	background:#ffffff;
	margin-right:29px;
}
ul.team li:first-of-type {
	color:#fc5f45;
	border-bottom: 3px solid #fc5f45;
}
ul.team li:last-of-type{
	margin-right:0;
	color:#feb960;
	border-bottom: 3px solid #feb960;
}
ul.team li:last-of-type .photo_wrapper{background:url(../img/David_Kramer.png)}
.team li:nth-of-type(2) {
	color:#38c695;
	border-bottom: 3px solid #38c695;
}
ul.team li:nth-of-type(2) .photo_wrapper{background:url(../img/Anna_Schroder.png)}
ul.team li:nth-of-type(3) {
	color:#b27cf5;
	border-bottom: 3px solid #b27cf5;
}
ul.team li:nth-of-type(3) .photo_wrapper{
	background:url(../img/Jason_Teichmann.png);
}
.name {
	padding: 21px 0;
}
h5 {
	font-family:arial, sans-serif;
	font-size: 18px;
}
.name p {
	font-size: 13px;
	margin-top:10px;
}
.member_details {
	font-size: 15px;
	padding:75px 98px;
	background: #ffffff;
	margin-top:45px;
	overflow:auto;
}
.txt h4 {
	color:#272727;
}
.txt p {
	line-height: 25px;
	margin-top:30px;
}
.txt {
	width:650px;
	float:left;
}
.social {
	padding-top: 45px;
	float:left;
	overflow:auto;
}
.share {
	padding:80px 75px 55px 90px;
	float:left;
	background:red;
	margin-top:15px;
	background: url(../img/share.png) 75% 50% no-repeat;
}
.social_links {
	float:left;
	margin-top:15px;
	padding-top:10px;
	padding-bottom:10px;
	border-left: 2px solid #efefef;
	padding-left:30px;
}
.social_links li {	
	font-family: arial, sans-serif;
	font-size:15px;
	color:#616161;
	padding-left: 23px;
	padding-top:5px;
	padding-bottom:5px;
	background: url(../img/twitter.png) 0% 50% no-repeat;
}
.social_links li:first-of-type{
	background-image:url(../img/facebook.png);
}
.social_links li:last-of-type{
	background-image:url(../img/instagram.png);
}
.social_links li:nth-of-type(3){
	background-image:url(../img/linkedin.png);
}
.stats_bg {
	background:url(../img/stats_bg.png) no-repeat;
	background-size: 100% 100%;
}
.stats {
	padding-top:145px;
	padding-bottom:125px;
	clear:both;
}
.stats_list {
	display:inline-block;
	width:285px;
	text-align:center;
	padding-bottom:50px;
	padding-top:75px;
	background: url(../img/stat_1.png) center 0 no-repeat, url(../img/dot_1.png) center bottom no-repeat;
}
.stats_list:nth-of-type(2){
	background-image: url(../img/stat_2.png), url(../img/dot_2.png);
}
.stats_list:nth-of-type(3){
	background-image: url(../img/stat_3.png), url(../img/dot_3.png);
}
.stats_list:last-of-type {
	background-image: url(../img/stat_4.png), url(../img/dot_4.png);
}
.stats_list h4 {
	color:#fefefe;
	font-weight:normal;
}
.stats_list p {
	color:#fefefe;
	margin-top:20px;
}
.work_steps_bg {
	background:#ffffff;
}
.work_steps {
	padding:145px 0;
	background:url(../img/05.png) center 10px no-repeat;
}
.work_steps ul {
	margin-top:130px;
}
.content_column {
	background:#ffffff;
	position:relative;
	width:273px;
	padding:50px 60px 75px 125px;
	margin-top:-350px;
}
.content_column p {
	margin-top:25px;
	line-height:27px;
}
h6 {
	color:#272727;
	font-size:25px;
	font-family:arial, sans-serif;
}
.mid_img {
	width:556px;
	height:300px;
	margin:0 auto;
}
.steps_list{display:block;}
.steps_list:nth-of-type(1) .content_column{
	float:left;
	border-bottom:3px solid #fc5f45;
	background:#ffffff url(../img/001.png) 40px 40px no-repeat;
}	
.steps_list:nth-of-type(2) .content_column{
	float:right;
	border-bottom:3px solid #38c695;
	background:#ffffff url(../img/002.png) 40px 40px no-repeat;
}
.steps_list:nth-of-type(3) .content_column{
	float:left;
	border-bottom:3px solid #b27cf5;
	background:#ffffff url(../img/003.png) 40px 40px no-repeat;
}
.steps_list:nth-of-type(4) .content_column{
	float:right;
	border-bottom:3px solid #feb960;
	background:#ffffff url(../img/004.png) 40px 40px no-repeat;
}
.steps_list:nth-of-type(1) .mid_img {
	background: url(../img/mid_img_1.png);
}
.steps_list:nth-of-type(2) .mid_img {
	background: url(../img/mid_img_2.png);
}
.steps_list:nth-of-type(3) .mid_img {
	background: url(../img/mid_img_3.png);
}
.steps_list:nth-of-type(4) .mid_img {
	background: url(../img/mid_img_4.png);
}
.pricing_bg {
	background:#f7f7f7;
}
.pricing {
	padding:145px 0; background:url(../img/06.png) center 10px no-repeat;
}
.pricing_list {
	display: inline-block;
	width:360px;
	margin-right:30px;
	text-align:center;
	padding-top:32px;
	padding-bottom:35px;
	border-top:3px solid #38c695;
	margin-top:80px;
	background:#ffffff;
}
.pricing_list:nth-of-type(2){
	border-top:3px solid #fc5f45;
}
.pricing_list:last-of-type {
	margin-right:0;
	border-top:3px solid #b27cf5;
}
.pricing_list ul {
	padding:35px 0;
}
.description_list {
	font-family:'Arial';
	font-size:15px;
	color:#616161;
	margin-bottom:20px;
}
.description_list b {
	color:#272727;
}
.description_list:last-of-type{
	margin-bottom:0;
}
.description_list  span {
	padding-left:25px;background:url(../img/ok.png) 0 center no-repeat;
}
.price h6 {
	color:#ffffff;
}
.price p {
	font-size:13px;
	color:#ffffff;
}
.price {
	margin-top:20px;
	padding-top:35px;
	padding-bottom:35px;
	background:url(../img/price_bg_1.png) center 0 no-repeat;
}
.pricing_list:nth-of-type(2) .price {
	background-image:url(../img/price_bg_2.png);
}
.pricing_list:nth-of-type(3) .price {
	background-image:url(../img/price_bg_3.png);
}
.get_started  {
	width:175px;
	height:46px;
	border:2px solid #38c695;
	border-radius:23px;
	margin:0 auto;
	text-align:center;
}
.get_started a {
	display:block;
	height:100%;
}
.get_started:hover  {
	background:#38c695;
}
.get_started a p {
	font-size:16px;
	color:#38c695;
	margin-top:13px;
}
.pricing_list:nth-of-type(2) .get_started a p {
	color:#fc5f45;
}
.pricing_list:nth-of-type(3) .get_started a p  {
	color:#b27cf5;
}
.pricing_list:nth-of-type(2) .get_started {
	border-color:#fc5f45;
}
.pricing_list:nth-of-type(3) .get_started {
	border-color:#b27cf5;
}
.pricing_list:nth-of-type(2) .get_started:hover {
	background:#fc5f45;
}
.pricing_list:nth-of-type(3) .get_started:hover {
	background:#b27cf5;
}
.get_started:hover  a p {
	color:#ffffff;
}
.pricing_list:nth-of-type(2) .get_started:hover a p {
	color:#ffffff;
}
.pricing_list:nth-of-type(3) .get_started:hover a p  {
	color:#ffffff;
}
.testimonials_bg {
	background: #3f4049;
}
.testimonials {
	padding: 145px 0;
	background: url(../img/07.png) center 10px no-repeat;
}
.testimonials .title h3 {
	color:#ffffff;
}
.testimonials .title p {
	color:#ffffff;
}
.feedback {
	margin-top: 80px;
	overflow: auto;
}
.image {
	width: 384px;
	height: 399px;
	float: left;
	background: url(../img/feedback_1.png);
}
.feedback_content{
	margin-top: 45px;
	float:right;padding:35px 80px 35px 55px;
	background: url(../img/feedback_bg_1.png) no-repeat, url(../img/feedback_bg_2.png) bottom right no-repeat;
	background-color: #f1f1f0;
	border-bottom: 3px solid #fc5f45;
	width: 621px;
}
.feedback_txt p {
	line-height: 27px;
}
.sign {
	margin-top: 35px;
	padding-top: 52px;
	background: url(../img/melina.png) no-repeat;
}
.sign p {
	font-size: 13px;
	color: #fc5f45;
	margin-top: 10px;
}
.feedback ul {
	margin-top:25px;
	float:right;
}
.control {
	width:18px;
	height:18px;
	background:url(../img/empty_control.png);
	clear:both;
	font-size:20px;
	display:inline-block;
	margin-left:7px;
}
.control a {
	display:block;
	height:100%;
}
.control:hover {
	background:url(../img/full_control.png) center center;
}
.why_select_us {
	padding:145px 0;
	background:url(../img/08.png) center 10px no-repeat;
}
.reasons_list {
	display:inline-block;
	width:315px;
	padding:0 40px 70px 25px;
}
.reasons {
	margin-top:80px;
}
.reasons_list h5 {
	padding:3px 120px 10px 63px;
	margin-bottom:25px;
}
.reasons_list p {
	line-height:27px;
}
.reasons_list:nth-of-type(1) h5 {
	background:url(../img/reason_1.png) no-repeat;
}
.reasons_list:nth-of-type(2) h5 {
	background:url(../img/reason_2.png) no-repeat;
}
.reasons_list:nth-of-type(3) h5 {
	background:url(../img/reason_3.png) no-repeat;
}
.reasons_list:nth-of-type(4) h5 {
	background:url(../img/reason_4.png) no-repeat;
}
.reasons_list:nth-of-type(5) h5 {
	background:url(../img/reason_5.png) no-repeat;
}
.reasons_list:nth-of-type(6) h5 {
	background:url(../img/reason_6.png) no-repeat;
}
.subscription {
	padding:145px 0;
	text-align:center;
}
.subscription p {
	font-size:30px;
	color:#272727;
	margin-bottom:40px;
}
.subscription form {
	width:492px;
	margin:0 auto;
}
.email {
	display:inline-block;
	height:62px;
	width:270px;
	padding-left:36px;
	background:url(../img/email_bg.png);
	font-family:'Arial';
	font-size:16px;
	color:#616161;
}
.sub {
	display:inline-block;
	height:62px;
	width:186px;
	padding-left:15px;
	font-family:arial, sans-serif;
	font-size:16px;
	color:#ffffff;
	background:url(../img/sub_bg.png);
	text-align:left;
}
.start_button {
	width:600px;
	margin:0 auto;
	overflow:hidden;
	margin-top:90px;
}
.start_button h6 {
	float:left;
	margin-top:10px;
	font-weight:normal;
}
.start_button .get_started {
	float:left;
	margin-left:40px;
	border-color:#fc5f45;
}
.start_button .get_started a {
	text-decoration:none;
}
.start_button .get_started a p {
	color:#fc5f45;
}
.start_button .get_started:hover {
	background-color:#fc5f45;
}
.start_button .get_started:hover a p {
	color:#ffffff;
}
.our_blog_bg {
	background:#f7f7f7;
}
.our_blog {
	padding:145px 0;
	background:url(../img/09.png) center 10px no-repeat;
	overflow:hidden;
}
.our_blog .title {
	margin-bottom:70px;
}
.our_blog ul {
	float:right;
}
.single_post_list {
	padding:30px 40px 27px 40px;
	width:465px;
	background:#ffffff;
	border-bottom:3px solid #38c695;
	margin-bottom:20px;
}
.single_post_list:nth-of-type(2){
	border-bottom-color:#b27cf5;
}
.single_post_list:nth-of-type(3){
	border-bottom-color:#feb960;
}
.single_post_list:nth-of-type(2) .author h5 {
	color:#b27cf5;
}
.single_post_list:nth-of-type(3) .author h5 {
	color:#feb960;
}
.article p a {
	color:#38c695;
}
.post_image {
	width:555px;
	height:443px;
	background:url(../img/post_image.png);
}
.author {
	overflow:auto;
	margin-bottom:15px;
}
.author h5 {
	font-size:15px;
	float:left;
	color:#38c695;
}
.author p {
	font-size:13px;
	color:#616161;
	float:left;
	display:block;
	margin-left:25px;
	margin-top:1px;
}
.article {
	clear:both;
}
.article h5 {
	margin-bottom:15px;
}
.article p {
	line-height:27px;
	padding-right:50px;
}
.single_post_list:nth-of-type(2) .article p a{
	color:#b27cf5;
}
.single_post_list:nth-of-type(3) .article p a{
	color:#feb960;
}
.featured_post {
	float:left;
	width:555px;
	border-bottom:3px solid #fc5f45;
}
.single_post {
	margin-top:-50px;
}
.single_post .author {
	margin:0;
	padding:0 50px 35px 50px;
}
.single_post .author h5 {
	color:#fc5f45;
}
.single_post .author p {
	color:#ffffff;
}
.single_post .article {
	background:#ffffff;
	padding:30px 50px 40px 50px;
}
.single_post .article h5 {
	margin-bottom:30px;
}
.contact_bg {
	background:#cccccc;
}
.contact {
	padding:145px 0px;
	background:url(../img/10.png) center 10px no-repeat;
}
.contact ul {
	padding:0 195px;
	margin-top:75px;
}
.contact_form  {
	display:inline-block;
	width:360px;
	height:50px;
	margin-right:30px;
	 margin-bottom:23px;
	}
.contact_form:nth-of-type(even) {
	margin-right:0px;
}
.contact_form:last-of-type {
	height:200px;
	width:750px;
}
.contact_form input {
	display:block;
	width:100%;
	height:100%;
	text-align:center;
	font-family:arial, sans-serif;
	font-size:16px;
	color:#616161;
	border-radius:5px;
	box-shadow: inset 0 0 1px}
.contact_form textarea {
	display:block; width:616px;
	height:160px;
	text-align:center;
	font-family: arial, sans-serif;
	font-size:16px;
	color:#616161;
	border-radius:5px;
	box-shadow: inset 0 0 1px;
	padding:20px 67px;
}
.message_button {
	width:190px;
	height:50px;
	margin:0 auto;
	margin-top:50px;
	text-align:center;
}
.message_button input {
	display:block;
	width:100%;
	height:100%;
	font-size:16px;
	color:#ffffff;
	border-radius:45px;
	background:#fc5f45;
}
.footer {
	background: #3f4049;
	overflow: auto;
	 
}
.logo_link {
	border-bottom: 3px solid #fc5f45;
}
.footer_list li {
	height: 105px;
	display: inline-block;
	width: 190px;
	float: left;
	padding: 60px 60px 60px 35px
}
.footer_logo {
	width: 138px;
	height: 38px;
	background: url(../img/logo_footer.png);
	margin: 0 auto;
	margin-top: 30px;
}
.footer_logo a {
	display: block;
	height: 100%;
}
.adress_1 {
	border-bottom: 3px solid #38c695;
}
.adress_1 h5 {
	color:#38c695;
	margin-bottom: 35px;
}
.adress_2 {
	border-bottom: 3px solid #b27cf5;
}
.adress_2 h5 {
	color:#b27cf5;
	margin-bottom: 35px;
}
.footer_links {
	border-bottom: 3px solid #feb960;
}
.footer_links h5 {
	color:#feb960;
	margin-bottom: 35px;
}
.footer_links li {
	padding: 0;
	width: 31px;
  height: 31px;
  background: url(../img/facebook_footer.png) no-repeat;
  margin-right: 15px;
}
.footer_links li:nth-of-type(2) {
  background-image: url(../img/twitter_footer.png);
}
.footer_links li:nth-of-type(3) {
	background-image: url(../img/instagram_footer.png);
}
.footer_links li:nth-of-type(4) {
	background-image: url(../img/google_footer.png);
}
.footer_list li p {
	color: #fef4f2;
	margin-bottom: 10px;
	font-size: 16px;
}
.footer_links ul li a {
	display: block;
	height: 100%;
}